/* 購物車 */

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    ul {
        display: flex;
    }

    icon {
        a {
            width: 35px;
            height: 35px;
            margin: 0 5px;
            transition: all .3s;
        }
    }
}