//color var
$color-black: black;
$color-deep: #444;
$color-grey: #999;
$color-light: #f1f1f1;
$color-bg1: #F2EDF0;
$color-bg2: #E6ECE5;
$color-bg3: #ECF0F4;
$color-lesser1: #f3e4e4;
$color-lesser2: #efdbdb;
$color-lesser3: #cdaaab;
$color-lesser4: #8f6b6d;